/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url("../images/2.png");
    background-size:cover;
    /* background-image: linear-gradient(to right, #e45cff,#7a03a9); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    /* background-color: #ffffff; */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(70, 103, 36, 0.15);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    /* margin-left: 3cm; */
    background-color: rgba(219, 219, 219, 0.372);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

/* Auth Card */
.auth-card {
    padding: 30px;
}

/* Form Containers */
.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

/* Headers */
.form-header h2 {
    color: #ffd22dd7;
    margin-bottom: 10px;
    font-size: 27px;
    justify-content: center;
    text-align: center;
}

.form-header p {
    color: #ffd22dd7;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 600;
}

/* Form Styles */
.auth-form .form-group {
    margin-bottom: 18px;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    color: #ffd22dd7;
    font-weight: 600;
}

.form-control {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    outline: none;
    transition: 0.3s ease;
}

.form-control:focus {
    border-color: #ffd22dd7;
    box-shadow: 0 0 5px rgba(255, 225, 32, 0.694);
    font-weight: 600;
}

/* Checkbox Group */
.checkbox-group {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: #ffd22dd7;
    font-weight: 600;
}

.checkbox-label input {
    margin-right: 8px;
}

/* Button Styles */
.btn {
    background-color: #c6a628;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #b78f0c;
}

.btn--full-width {
    width: 100%;
}

.btn--primary {
    background-color: #fcca15bb;
}

/* Messages */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.success-message {
    color: rgb(40, 192, 40);
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
}

/* Footer Links */
.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer .link {
    color: #fcca15bb;
    text-decoration: none;
}

.form-footer .link:hover {
    text-decoration: underline;
}
